# IDE & Virtual Environment
.idea/
venv/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Prebuilt Database
dbs/

# YARA Rules
yargen_rules.yar
/capa-rules-9.2.1
/capa_results
/ClamAV
/detectiteasy
